{% load static %}

<header>
    <nav class="navbar navbar-expand-lg navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="/"><small><strong>EDUCA ACADEMY</strong></small></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                {% if not request.user.is_authenticated %}

                <li class="nav-item {% if page_name == 'home' %}active{%endif%}">
                    <a class="nav-link" href="/"><i class="far fa-address-book"></i>Welcome</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#one"><i class="far fa-clone"></i>About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="far fa-calendar-alt"></i>Contact</a>
                </li>
                <li class="nav-item {% if page_name == 'account' %}active{%endif%}">
                    <a class="nav-link" href="{% url 'account:home' %}"><i class="far fa-chart-bar"></i>My Account</a>
                </li>
                {% else %}

                <li class="nav-item {% if page_name == 'account' %}active{%endif%}">
                    <a class="nav-link text-white" href="{% url 'courses:manage_course_list' %}"><i class="far fa-chart-bar"></i>My Courses</a>
                </li>
                <li class="nav-item {% if page_name == 'account' %}active{%endif%}">
                    <a class="nav-link text-white" href="{% url 'account:logout' %}"><i class="far fa-chart-bar"></i>Logout</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </nav>
</header>
